In [1]:
import pandas as pd
import os
import shutil

In [2]:
months = [str(i) + '/10' for i in range(1, 13)]
odir = "/tmp/chicagoenergy/"

In [3]:
# get data
df = pd.read_csv("./energy-usage-2010.csv")
print(len(df))

67051

In [4]:
# prepare data
if not os.path.isdir(odir):
    os.mkdir(odir)
df = df.dropna(subset=["CENSUS BLOCK"]) # drop totals
df.index.names = ['ID']
print(len(df))
df.head()

66974

,COMMUNITY AREA NAME,CENSUS BLOCK,BUILDING TYPE,BUILDING_SUBTYPE,KWH JANUARY 2010,KWH FEBRUARY 2010,KWH MARCH 2010,KWH APRIL 2010,KWH MAY 2010,KWH JUNE 2010,...,TOTAL POPULATION,TOTAL UNITS,AVERAGE STORIES,AVERAGE BUILDING AGE,AVERAGE HOUSESIZE,OCCUPIED UNITS,OCCUPIED UNITS PERCENTAGE,RENTER-OCCUPIED HOUSING UNITS,RENTER-OCCUPIED HOUSING PERCENTAGE,OCCUPIED HOUSING UNITS
ID,,,,,,,,,,,,,,,,,,,,,
1,Albany Park,1.703114e+14,Residential,Multi 7+,11921.0,12145.0,9759.0,11542.0,14348.0,26617.0,...,132.0,64.0,3.00,65.50,2.20,60.0,0.9375,33.0,0.550,60.0
2,Albany Park,1.703114e+14,Residential,Multi < 7,1233.0,1645.0,994.0,1055.0,1284.0,3527.0,...,132.0,64.0,2.00,86.00,2.20,60.0,0.9375,33.0,0.550,60.0
3,Albany Park,1.703114e+14,Residential,Single Family,4141.0,3798.0,2939.0,4727.0,5324.0,9676.0,...,132.0,64.0,1.17,14.33,2.20,60.0,0.9375,33.0,0.550,60.0
4,Albany Park,1.703114e+14,Residential,Multi 7+,1230.0,1333.0,1260.0,1405.0,1699.0,2094.0,...,228.0,79.0,3.00,86.00,3.51,65.0,0.8228,49.0,0.754,65.0
5,Albany Park,1.703114e+14,Residential,Multi < 7,12977.0,14639.0,12718.0,14973.0,16384.0,32940.0,...,228.0,79.0,2.50,87.69,3.51,65.0,0.8228,49.0,0.754,65.0

In [5]:
# work with base dataframe
bdf = df[[
    "AVERAGE BUILDING AGE",
    "AVERAGE HOUSESIZE",
    "AVERAGE STORIES",
    "BUILDING_SUBTYPE",
    "BUILDING TYPE",
    "COMMUNITY AREA NAME",
    "ELECTRICITY ACCOUNTS",
    "GAS ACCOUNTS",
    "KWH MEAN 2010",
    "KWH MAXIMUM 2010",
    "KWH MINIMUM 2010",
    "KWH SQFT MEAN 2010",
    "THERM MEAN 2010",
    "THERM MAXIMUM 2010",
    "THERM MINIMUM 2010",
    "THERMS SQFT MEAN 2010",
    "TOTAL KWH",
    "TOTAL POPULATION",
    "TOTAL THERMS",
]]
bdf.to_csv(odir+'bdf.csv')
bdf.head()

,AVERAGE BUILDING AGE,AVERAGE HOUSESIZE,AVERAGE STORIES,BUILDING_SUBTYPE,BUILDING TYPE,COMMUNITY AREA NAME,ELECTRICITY ACCOUNTS,GAS ACCOUNTS,KWH MEAN 2010,KWH MAXIMUM 2010,KWH MINIMUM 2010,KWH SQFT MEAN 2010,THERM MEAN 2010,THERM MAXIMUM 2010,THERM MINIMUM 2010,THERMS SQFT MEAN 2010,TOTAL KWH,TOTAL POPULATION,TOTAL THERMS
ID,,,,,,,,,,,,,,,,,,,
1,65.50,2.20,3.00,Multi 7+,Residential,Albany Park,48,21,20103.20,36781.0,9414.0,24412.50,5260.29,23460.0,882.0,24412.50,201032.0,132.0,36822.0
2,86.00,2.20,2.00,Multi < 7,Residential,Albany Park,Less than 4,Less than 4,20608.00,20608.0,20608.0,3306.00,755.00,755.0,755.0,3306.00,20608.0,132.0,755.0
3,14.33,2.20,1.17,Single Family,Residential,Albany Park,6,6,10170.00,17530.0,5619.0,1578.67,1010.83,2144.0,496.0,1578.67,61020.0,132.0,6065.0
4,86.00,3.51,3.00,Multi 7+,Residential,Albany Park,Less than 4,6,16752.00,16752.0,16752.0,14407.00,14653.00,14653.0,14653.0,14407.00,16752.0,228.0,14653.0
5,87.69,3.51,2.50,Multi < 7,Residential,Albany Park,49,54,15271.31,34236.0,5462.0,3677.19,3224.38,5754.0,2071.0,3677.19,244341.0,228.0,51590.0

In [6]:
# work with combined monthly view
ccol = ['ID', 'MONTH', 'KWH CONSUMED', 'GAS CONSUMED']
cdf = pd.concat([pd.DataFrame([
    *zip([idf[0]]*12, months, idf[5:17], idf[20:32]),
], columns=ccol) for idf in df.itertuples()])
cdf.to_csv(odir+'cdf.csv', index=False)
cdf.head()

   ID MONTH  KWH CONSUMED  GAS CONSUMED
0   1  1/10       11921.0        7247.0
1   1  2/10       12145.0        5904.0
2   1  3/10        9759.0        5180.0
3   1  4/10       11542.0        3113.0
4   1  5/10       14348.0        1822.0